<!DOCTYPE html>
<html>
<head>
	<title>Corona Statistics</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
	<style>

	body{
		background-color: #dce3e6;
	}

	input{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
	}

	input::placeholder {
	  color: #d3d3d3;
	}


	.center-column{
		width:90%;
		margin: 5px auto;
		padding:10px;
		background-color: #fff;
		border-radius: 6px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}


	.center-column-1{
		width:80%;
		margin: 5px auto;
		padding:5px;
		background-color: #fff;
		border-radius: 6px;
		box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
	}


</style>
	<div class="center-column" align="center">
		<h1><em>Corona Statistics<em></h1>		
		<hr>
		<div class="form">
			<form method="GET">
				<div class="row col-12 ml-5" align="center">
					&emsp;<input type="text" name="country" class="form-control col col-6" placeholder="Enter country name..." />
					&emsp;
					<input type="submit" name="submit" class="form-control col col-4 btn btn-primary">	
				</div>
				
			</form>
			<hr>
		</div>
			<div class="table">
					<div class="center-column-1">
						<table align="center">
							<tr>
								<td><h5>Data recorded on date:</h5></td>
								<td><h5>{{country_data.Total_Country_Cases_Date}}</h5></td>
							</tr>
							<tr>
								<td><h5>Country:</h5></td>
								<td><h5>{{country_data.Country}}</h5></td>
							</tr>
							<tr>
								<td><h5>CountryCode:</h5></td>
								<td><h5>{{country_data.CountryCode}}</h5></td>
							</tr>
							<tr>
								<td><h5>Total Country Cases:</h5></td>
								<td><h5>{{country_data.Total_Country_Cases}}</h5></td>
							</tr>
						</table>
					</div>
					<div class="center-column-1">
						<table align="center">
							<tr>
								<td><h5>Data recorded on date:</h5></td>
								<td><h5>{{country_data.Date}}</h5></td>
							</tr>
							<tr>
								<td><h5>Confirmed Cases in {{country_data.Country}}:</h5></td>
								<td><h5>{{country_data.Confirmed}}</h5></td>
							</tr>
							<tr>
								<td><h5>Deaths in {{country_data.Country}}:</h5></td>
								<td><h5>{{country_data.Deaths}}</h5></td>
							</tr>
							<tr>
								<td><h5>Recovered Cases in {{country_data.Country}}:</h5></td>
								<td><h5>{{country_data.Recovered}}</h5></td>
							</tr>
							<tr>
								<td><h5>Active Cases in {{country_data.Country}}:</h5></td>
								<td><h5>{{country_data.Active}}</h5></td>
							</tr>

						</table>
						
					</div>
					
			</div>

	</div>
	

</body>
</html>